.App {
  margin: auto;
  width: 35%;
  min-height: 20%;
  max-height: 40%;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-gap: 15px;
}

@media only screen and (max-width: 620px){
  .App{
    width: 90%;
    min-height: 30%;
    max-height: 60%;
  }
}

.App-header {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: white;
  height: 50px;
  box-shadow: 0px 3px 5px 0px #0000002e;
}

.App-body{
  background-color: white;
  border-radius: 0px 0px 30px 30px;
  padding: 15px;
  box-shadow: 0px 3px 5px 0px #0000002e;
}